:root {
  --col-background: #f5f5f5;
  --col-highlight: #eef500;
  --col-highlight-hover: #efff0f;
  --col-highlight-2: #df2323;
  --col-highlight-2-hover: #e92f2f;
  --col-button: #2be048;
  --col-button-hover: #2fef4f;
  --col-plain-dark: #021b5d;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 480px;
  margin : 0 auto;
  background-color: var(--col-background);
}

#content {
  position: relative;
  top: 0;
  left: 0;
}

a {
  color: black;
  text-decoration: none;
}

.submit-button {
  border: none;
  background-color: var(--col-button);
  background-image: url('/public/img/bicycle.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  font-size: 0px;
  line-height: 0px;
}

.submit-button:hover {
  background-color: var(--col-button-hover);
}

.submit-button:active {
  background-color: var(--col-button-hover);
}

.submit-button:focus {
  background-color: var(--col-button-hover);
}

#nav {
  height: 50px;
  width: 100%;
  background-color: var(--col-highlight);
  text-align: center;
  margin: 0 0 25px 0;
  padding: 0;
}

#nav img {
  height: 50px;
  width: auto;
}





#logo {
  text-align: center;
  padding: 44px 0 30px 0;
}

#logo-img {
  width: 68%;
  height: auto;
}

#tagline {
  font-size: 16px;
  line-height: 32px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 40px;
  text-align: center;
}

#lang {
  position: absolute;
  top: 0;
  right: 5%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border: none;
}

#lang li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  width: 44px;
}

#lang li a {
  display: inline-block;
  width: 100%;
  background-color: #eee;
}

#lang li a:hover {
  background-color: white;
}

#game-options .options-radio {
  display:flex;
  justify-content: space-evenly;
}

#game-options .options-radio label {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin: 10px 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  display: inline-block;
  cursor: pointer;
  background-color: white;
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
}

#game-options .options-radio label.label-difficulty {
  font-size: 10px;
  line-height: 16px;
  text-align: center;
}

#game-options .options-radio label:hover {
  background-color: var(--col-highlight-hover);
}

#game-options .options-radio input:checked ~ label {
  background-color: var(--col-highlight);
}

#game-options .options-radio input:checked ~ label:hover {
  background-color: var(--col-highlight-hover);
}

#game-options .options-radio input {
  display: none;
}

#game-options .options-radio label#label-ch-women {
  background-image: url('/public/img/womanicon.png');
}

#game-options .options-radio label#label-ch-men {
  background-image: url('/public/img/manicon.png');
}

#game-options .options-radio label#label-ch-all {
  background-image: url('/public/img/womanmanicon.png');
}

#game-options .options-radio label#label-diff-easy {
  background-image: url('/public/img/level1.png');
}

#game-options .options-radio label#label-diff-med {
  background-image: url('/public/img/level2.png');
}

#game-options .options-radio label#label-diff-hard {
  background-image: url('/public/img/level3.png');
}

#options-submit {
  display: block;
  width: 70px;
  height: 40px;
  margin: 30px auto;
  border-radius: 15px;
  background-size: 36px;
}

.announce {
  margin: 2em;
  padding: 1em;
  background-color: #eef50055;
  text-align: justify;
}

.announce a {
  text-decoration: underline;
}




#jersey-type {
  margin-bottom: 10px;
}

#jersey-type.in-game {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 285px;
}

.in-game #jersey-layers {
  position: relative;
  top: 0;
  left: 0;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
}

.in-game .jersey-layer {
  display:block;
  width: 275px;
  position:absolute;
  top:0;
  left:0;
}

.in-game #loading-jersey {
  display: none;
}

.in-game #loading-jersey.loading {
  display: block;
}

.game-championship {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--col-highlight-2);
}

#championship {
  position: absolute;
  bottom: 17px;
  left: 0;
  width: 100%;
}

#championship-men {
  margin-right: 20px;
  margin-left: auto;
}

#championship-women {
  margin-right: auto;
  margin-left: 20px;
}

.game-championship p {
  text-align: center;
  margin: 0; padding: 0;
  line-height: 1.5;
}

#championship-id {
  display: none;
}

.game-championship #championship-initial {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.game-championship #championship-complete {
  font-size: 9px;
  text-transform: uppercase;
}




#guess-grid {
  display: grid;
  grid-template-columns: 1fr 75px;
  margin-bottom: 15px;
}

#guess-grid-submit {
  margin: 1px 8px;
  border-radius: 14px;
  background-size: 32px;
}

#guess-grid-submit.loading {
  background-color: #b8d7be;
  background-blend-mode: soft-light;
  animation: leloading 3s ease-in-out infinite;
}

@keyframes leloading {
  0% {
    border: 2px solid #00660066;
  }
  50%
  {
    border: 2px solid #2be048ff;
  }
  50.1%
  {
    border: 2px solid #2be048ff;
  }
  100%
  {
    border: 2px solid #00660066;
  }
}


#status-grid {
  display: grid;
  grid-template-columns: 1fr 75px;
  height: 60px;
}

#correction {
  line-height: 40px;
}

#correction.yes {
  color: var(--col-button);
}

#correction.no {
  color: var(--col-highlight-2);
}

#score, #result-score {
  width: 100%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--col-highlight);
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}

#result-score {
  width: 50px;
}

#game-goal {
  font-size: small;
  font-weight: normal;
}


#faq {
  margin-top: 30px;
}

#faq a {
  text-decoration: underline;
}

.faq-question {
  background-color: var(--col-background);
  outline: none;
  border: none;
  margin: 0;
  margin-top: 8px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  border-left: 3px solid grey;
  color: #555;
}

.faq-question:hover {
  color: var(--col-plain-dark);
}

.faq-answer {
  display: none;
  overflow: hidden;
  font-size: 14px;
  line-height: 170%;
  text-align: justify;
}



#jersey-type.after-game {
  margin-left: 10%;
  width: 80%;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr 60px;
}

#last-correction {
  grid-column: 1/3;
  grid-row: 1;
  font-size: 12px;
}

.in-game #last-correction {
  display: none;
}

.after-game #status-grid {
  display: none;
}

.after-game #jersey-layers {
  position: relative;
  top: 0;
  left: 0;
  width: 50px;
  height: auto;
}

.after-game .jersey-layer {
  display: block;
  width: 50px;
  height: auto;
  position:absolute;
  top:0;
  left:0;
}

.in-game #over-message {
  display: none;
}

.after-game #over-message {
  display: block;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: justify;
  padding-left: 40px;
  padding-right: 40px;
}

#result-zone {
  display: grid;
  grid-template-columns: 50px 1fr 75px;
  background-color: var(--col-plain-dark);
  padding: 15px 10px;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

#star-rating {
  font-size: 24px;
  margin: auto;
}

#star-rating .on {
  color: var(--col-highlight);
}

#star-rating .off {
  color: lightgray;
}

#share-game {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

#share-text {
  font-size: 12px;
  font-weight: bold;
  text-align:center;
  margin-top: auto;
  margin-bottom: auto;
}

#share-link {
  display: inline-block;
  width: 100%;
  padding: 3px;
  background-color: var(--col-button);
  text-transform: uppercase;
  color: inherit;
  border-radius: 3px;
}

#share-link:hover {
  background-color: var(--col-button-hover);
}

#share-link:active {
  background-color: var(--col-button-hover);
}

#share-link:focus {
  background-color: var(--col-button-hover);
}

#share-content {
  display: none;
}



#new-game-zone {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#new-game-zone .submit-button {
  display: inline-block;
  width: 100px;
  height: 50px;
  background-size: 25px;
  border-radius: 10px;
}

#new-game-zone #retry-link {
  background-image: url('/public/img/reload.png');
}

#new-game-zone #home-link {
  background-image: url('/public/img/home.png');
}




#footer {
  font-size: 13px;
  margin-top: 150px;
}

#footer p {
  margin: 6px 3px;
}

#footer p a {
  text-decoration: underline;
}










/**
* Suggest adapted from https://www.w3schools.com/howto/howto_js_autocomplete.asp
**/

#autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

#autocomplete * {
  box-sizing: border-box;
}

#autocomplete input[type="text"] {
  width: 100%;
  border: 1px solid grey;
  padding: 10px;
  font-size: 16px;
}

#autocomplete .autocomplete-items {
  position: absolute;
  /*border: 1px solid #d4d4d4;*/
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  bottom: 100%;
  left: 0;
  right: 0;
}

#autocomplete .autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  /*border-bottom: 1px solid #d4d4d4;*/
}

#autocomplete .autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: var(--col-highlight);
}

#autocomplete .autocomplete-items div.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: var(--col-highlight);
}


#all-champions-list h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-align: center;
}

#all-champions-list #subtitle {
  margin: 2px 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
}

#all-champions-list #cta-play {
  margin: 10px 0 30px 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
}

#all-champions-list #cta-play a {
  text-decoration: underline;
}

#all-champions-list #champions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 12px;
}

#all-champions-list .champion-profile {
  display: grid;
  grid-template-columns: 75px 1fr;
  width: 150px;
  margin: 10px 2px;
}

#all-champions-list .jersey-box {
  position: relative;
  top: 0;
  left: 0;
  width: 75px;
  height: 80px;
}

#all-champions-list .champion-profile p {
  width: 75px;
}

#all-champions-list .jersey-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: auto;
}

.stat-line {
  margin: 0 0 4px 0;
  height: 4px;
  font-size: 7px;
}

.stat-line span {
  display: inline-block;
  height: 100%;
}

.stat-line span.over {
  background-color: forestgreen;
}

.stat-line span.started {
  background-color: black;
}



@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: var(--col-background);
  }

  a {
    color: beige;
  }

  #nav {
    background-color: var(--col-highlight-2);
  }

  #lang li a {
    background-color: #121212;
  }

  #lang li a:hover {
    background-color: var(--col-plain-dark);
  }

  .faq-question {
    background-color: #121212;
    border-bottom: 1px solid grey;
    color: #999;
  }

  .faq-question:hover {
    color: #ccd;
  }

  #game-options .options-radio label {
    background-color: gray;
  }

  #game-options .options-radio label:hover {
    background-color: var(--col-highlight-2-hover);
  }

  #game-options .options-radio input:checked ~ label {
    background-color: var(--col-highlight-2);
  }

  #game-options .options-radio input:checked ~ label:hover {
    background-color: var(--col-highlight-2-hover);
  }

  #score, #result-score {
    background-color: var(--col-plain-dark);
    color: var(--col-highlight);
  }

  #share-link {
    color: #121212;
  }

  #autocomplete input[type="text"] {
    background-color: lightgrey;
  }

  #autocomplete .autocomplete-items div {
    background-color: grey;
  }

  #autocomplete .autocomplete-items div:hover {
    background-color: var(--col-highlight-2);
  }

  #autocomplete .autocomplete-items div.autocomplete-active {
    background-color: var(--col-highlight-2);
  }
}